@model LibraryManagementSystem.Models.SellingInvoice

@{
    ViewBag.Title = "Details";
}

<h2>Invoice Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    <h3>Items</h3>

    <table class="table">
        <tr>
            <th> Book Name </th>
            <th> Quantity </th>
            <th> Unit Price $ </th>
            <th> Sub Total $</th>
        </tr>

        @foreach (var i in Model.SellingInvoiceItems)
        {
            <tr>
                <td> @i.Book.Name </td>
                <td> @i.Quantity </td>
                <td> @i.Book.PriceOfSelling $ </td>
                <td> @i.SubTotal $</td>
            </tr>
        }

    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
