<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--<div class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">-->
    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    <!--@if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Books", "EmployeeIndex", "Books")</li>
                        }
                        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
            </ul>
        </div>
    </div>-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">Application name</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    @*<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>*@
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Books", "EmployeeIndex", "Books", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                        }
                        <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-item nav-link" })</li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right mr-auto" style="margin-left:auto">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
