@model IEnumerable<LibraryManagementSystem.ViewModels.BookViewModel>
@{
    ViewBag.Title = "Book List";
}

<h2>Book List</h2>
<div class="row">
    <div class="col mx-5 mb-3">
        <div class="card card-body">
            <input id="search-book" class="form-control" type="text" placeholder="Search by Name or Category" style="margin-left:auto; margin-right:auto; margin-bottom:10px" />
        </div>
    </div>
</div>
<table class="table" id="bookList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableNumberOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceOfReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationPerieodInDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceOfSelling)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FinePerDay)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableNumberOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOfReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationPerieodInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOfSelling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinePerDay)
            </td>

        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#search-book').on('keyup', function () {
            var value = $(this).val()
            value = value.toLowerCase();
            $('table tr').each(function (result) {
                if (result !== 0) {
                    var category = $(this).find("td:nth-child(1)").text().toLowerCase();
                    var name = $(this).find("td:nth-child(2)").text().toLowerCase();

                    if (category.indexOf(value) < 0 && name.indexOf(value) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            })
        })

    </script>
}